# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
deployment/.env
deployment/.env.*

deployment/couchdb_etc/*.pem
deployment/*.pem
deployment/couchdb_etc/fullchain1.pem
deployment/couchdb_etc/privkey1.pem
.env
.env.*
!.env.example

# Service workers
sw.*

# Other
package-lock.json